.Cursor {
    height: 2em;
    aspect-ratio: 1;
    /* border: 2px solid var(--dim-white); */
    border: 2px solid rgb(255, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    transition: 200ms ease-out;
}